.content {
    border-radius: 10px;
    border: solid #f6f6f6 3px;
}

.contentTitle {
    font-weight: bold;
    background-color: #f6f6f6;
    /* position: fixed; */
    /* position: fixed; */
    /* top: 0; */
    /* right: 0;
    left: 0; */
    /* z-index: 1030; */
}

.component {
    max-height: 80vh;
    overflow-y: scroll;
}