.content {
    border-radius: 10px;
    border: solid #f6f6f6 3px;
}

.contentTitle {
    font-weight: bold;
    background-color: #f6f6f6;
}

.component {
    /* max-height: 100vh; */
    /* overflow-y: scroll; */
    /* overflow: auto; */
    overflow-x: hidden;
}

