.profilImgZoom {
    transition-duration: 0.2;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: 3000 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
}