
._card{
    border: 5px solid #f6f6f6;
    border-radius: 5px;
    align-items: center;
}

._card img{
    width: 80px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    margin-right: 10px;
}

.title{
    font-size: 10px;
    font-weight: bold;
}
